
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    background-color: transparent;
    padding: 20px;
    border: 3px;
    
}
 nav li {
    list-style-type: none;
    padding: 0px 20px 0px 20px;
    font-family: "Dosis", sans-serif;
}

.navbar-items {
    color: rgb(206, 155, 155);
    text-decoration: none; 
}
.register{
    display: flex;
    flex-direction:row;
    gap: 10px;
    justify-content:center;
}